

	<!-- Main Footer -->

    <footer class="main-footer" style="background-image: url(images/background/pattern-10.png)">

		<div class="auto-container">

        	<!--Widgets Section-->

            <div class="widgets-section">

            	<div class="row clearfix">

                	

                    <!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

						<div class="row clearfix">

						

                        	<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget logo-widget">

									<div class="logo">

										<a href="index.html"><img src="images/logo-2.png" alt="" /></a>

									</div>

									<div class="text">Welcome to Apricopt Tech <br>Apricopt providing reliable, quality services and ensuring lasting customer satisfaction.

										 Provide high-quality, cost-effective, and hands-on practical assistance to all of our clients</div>

									<!-- Social Box -->

									<ul class="social-box">

								<li class="facebook"><a href="https://web.facebook.com/apricoptitsolutions" class="fa fa-facebook-f"></a></li>


								<li class="linkedin"><a href="https://www.linkedin.com/company/apricopt-it-solutions/?viewAsMember=true" class="fa fa-linkedin"></a></li>


									</ul>

								</div>

							</div>

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">

                                <div class="footer-widget links-widget">

									<h4>LINKS EXPLORE</h4>

									<ul class="list-link-two">

{{!-- <li><a href="about.html">About us</a></li> --}}

{{!-- <li><a href="#team">Meet Our Team</a></li> --}}

										

										<li><a href="/">Home </a></li>
										<li><a href="/contact">Contact Us</a></li>
										<li><a href="/career">Join Us</a></li>
										<li><a href="/#service">Services</a></li>
									</ul>

								</div>

							</div>

							

						</div>

					</div>

					

					<!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

						<div class="row clearfix">

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget contact-widget">

									<h4>CONTACT</h4>

									<ul class="list-style-four">

										<li><strong><span class="icon flaticon-maps-and-flags"></span> Address (Head Office)</strong>101 California Av 302 Santa Monica ca 90403</li>
										<li><strong><span class="icon flaticon-maps-and-flags"></span> Address (Branch Office)</strong>Office 1, 1st floor plaza no 23 - phase 4 DHA Lahore , Pakistan</li>

										<li><strong><span class="icon flaticon-call-2"></span>CALL ANYTIME :</strong> Call Anytime : <a href="tel:+13312622819">+1 (331) 262-2819</a></li>

										<li><strong><span class="icon flaticon-email-2"></span>Email Address</strong><a href="mailto:contact@apricopt.com">contact@apricopt.com</a></li>

									</ul>

								</div>

							</div>

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget newsletter-widget">

									<h4>Contact Me</h4>

                                    <div class="text">We will reach you out <br> Drop your email</div>

									

									<!-- ==========================================

										            Newsletter Form 

									================================================-->

									<div class="newsletter-form-two">

										<form method="post" action="contact.html">

											<div class="form-group">

												<input type="email" name="email" value="" placeholder="Your Email" required>

												<button type="submit" class="submit-btn">Reach Me</button>

											</div>

										</form>

									</div>



									<!--====================================

												     END

									=========================================-->

									

								</div>

							</div>

							

						</div>

					</div>

					

				</div>

			</div>

		</div>

		<!-- Footer Bottom -->

		<div class="footer-bottom">

			<div class="auto-container">

				<div class="ro clearfix">

					<div class="text-column col-lg-6 col-md-12 col-sm-12">

						<div class="text">&copy; copyright 2021 by Apricopt Tech.</div>

					</div>

					<div class="arrow-column col-lg-6 col-md-12 col-sm-12">

						<!--Scroll to top-->

						<div class="scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>

					</div>

				</div>

			</div>

		</div>

	</footer>

	<!-- End Main Footer -->

	

	<!-- Sidebar Cart Item -->

	<div class="xs-sidebar-group info-group">

		<div class="xs-overlay xs-bg-black"></div>

		<div class="xs-sidebar-widget">

			<div class="sidebar-widget-container">

				<div class="widget-heading">

					<a href="#" class="close-side-widget">

						X

					</a>

				</div>

				<div class="sidebar-textwidget">



					<!-- Sidebar Info Content -->

					<div class="sidebar-info-contents">

						<div class="content-inner">

							<div class="logo">

								<a href="index.html"><img src="images/logo-2.png" alt="" /></a>

							</div>

							<div class="content-box">

								<h2>About Us</h2>

								<p class="text">Core values are the fundamental beliefs of a person or organization. The core values are the ples that dictate behavior and action suas labore saperet has there any quote for write lorem percit latineu.</p>

								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>

							</div>

							<div class="contact-info">

								<h2>Contact Info</h2>

								<ul class="list-style-one">

									<li><span class="icon fa fa-location-arrow"></span>Rawalpindi,Pakistan</li>

									<li><span class="icon fa fa-phone"></span>+92 310 741 1445</li>

									<li><span class="icon fa fa-envelope"></span>contact@apricopt.com</li>

									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>

								</ul>

							</div>

							<!-- Social Box -->

							<ul class="social-box">

								<li class="facebook"><a href="https://web.facebook.com/apricoptitsolutions" class="fa fa-facebook-f"></a></li>


								<li class="linkedin"><a href="https://www.linkedin.com/company/apricopt-it-solutions/?viewAsMember=true" class="fa fa-linkedin"></a></li>



							</ul>

						</div>

					</div>



				</div>

			</div>

		</div>

	</div>

	<!-- END sidebar widget item -->



</div>

<!--End pagewrapper-->



<!-- Color Palate / Color Switcher -->

<div class="color-palate">

    <div class="color-trigger">

        <i class="fa fa-gear"></i>

    </div>

    <div class="color-palate-head">

        <h6>Choose Your Color</h6>

    </div>

    <div class="various-color clearfix">

        <div class="colors-list">

            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>

            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>

            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>

            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>

            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>

            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>

            <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>

            <span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>

        </div>

    </div>



	<ul class="box-version option-box"> <li class="box">Boxed</li> <li>Full width</li></ul>

	<ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>



    <!-- <a href="#" class="purchase-btn"></a> -->



    <div class="palate-foo">

        <!-- <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span> -->

    </div>



</div>



<!-- Header Search -->

<div class="search-popup">

	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>

	<button class="close-search"><span class="flaticon-multiply"></span></button>

	<form method="post" action="blog.html">

		<div class="form-group">

			<input type="search" name="search-field" value="" placeholder="Search Here" required="">

			<button type="submit"><i class="fa fa-search"></i></button>

		</div>

	</form>

</div>

<!-- End Header Search -->



<script src="js/jquery.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="js/jquery.fancybox.js"></script>

<script src="js/appear.js"></script>

<script src="js/nav-tool.js"></script>

<script src="js/mixitup.js"></script>

<script src="js/owl.js"></script>

<script src="js/wow.js"></script>

<script src="js/jquery-ui.js"></script>

<script src="js/script.js"></script>

<script src="js/color-settings.js"></script>



</body>

</html>


