 <!-- Main Header -->

    <header class="main-header">

    

{{!-- <!--Header Top--> --}}

{{!-- <div class="header-top"> --}}

{{!-- <div class="auto-container"> --}}

{{!-- <div class="clearfix"> --}}

{{!-- <!--Top Left--> --}}

{{!-- <!-- <div class="top-left"> --}}

{{!-- <div class="text">Welcome To Apricopt tech.</div> --}}

{{!-- </div> --> --}}



{{!-- <!--Top Right--> --}}

{{!-- <div class="top-right pull-right"> --}}

{{!-- <div class="timing">MON - FRI    9AM - 7PM</div> --}}

{{!-- <div class="phone"><span>CALL ANYTIME :</span> <a href="tel:+923107411445">310 741 1445</a></div> --}}



{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}



        <!--Header-Upper-->

        <div class="header-upper">

            <div class="auto-container">

                <div class="inner-container clearfix">

                    

                    <div class="pull-left logo-box">

                        <div class="logo"><a href="/"><img src="/images/logo.png" style="height:70px;" alt=""></a></div>

                    </div>

                    

                    <div class="nav-outer pull-right clearfix">

						<!-- Mobile Navigation Toggler For Mobile -->

						<div class="mobile-nav-toggler"><span class="icon flaticon-menu-3"></span></div>

						<!-- Main Menu -->

						<nav class="main-menu navbar-expand-md">

							

							<div class="navbar-header">

								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

									<span class="icon-bar"></span>

									<span class="icon-bar"></span>

									<span class="icon-bar"></span>

								</button>

							</div>

							

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">

								<ul class="navigation clearfix">

									<li ><a href="/">Home</a>


									</li>

{{!-- <li><a href="/about">About us</a> --}}

										<!-- <ul>

											<li><a href="about.html">About us</a></li>

											<li><a href="price.html">Price</a></li>

											<li><a href="faq.html">Faq's</a></li>

											<li><a href="team.html">Team</a></li>

											<li><a href="testimonial.html">Testimonial</a></li>

											<li><a href="comming-soon.html">Comming Soon</a></li>

										</ul> -->

									</li>

									<li class="dropdown" ><a href="/#service">Services</a>

										 <ul>

											<li><a href="/websitedevelopment">Website Development</a></li>
											<li><a href="/serviceapplication">MobileApps Development</a></li>
											<li><a href="/serviceecom">Ecommerce Stores</a></li>
											<li><a href="/servicesocial">Social Media Marketting</a></li>
											<li><a href="/servicesolar">Solar Leads generation</a></li>
											<li><a href="/servicelead">Final expense leads generation</a></li>


										</ul> 

									</li>
<li><a href="/contact">Contact Us</a>

									<!-- <li class="dropdown"><a href="#">Projects</a>

										<ul>

											<li><a href="projects.html">Projects</a></li>

											<li><a href="projects-single.html">Projects Single</a></li>

										</ul>

									</li> -->

									<!-- <li class="dropdown has-mega-menu"><a href="#">Pages</a>

										<div class="mega-menu">

											<div class="mega-menu-bar row clearfix">

												<div class="column col-lg-4 col-md-4 col-sm-12">

													<h3>About Us</h3>

													<ul>

														<li><a href="about.html">About us</a></li>

														<li><a href="price.html">Price</a></li>

														<li><a href="faq.html">Faq's</a></li>

														<li><a href="team.html">Team</a></li>

														<li><a href="testimonial.tml">Testimonial</a></li>

													</ul>

												</div>

												<div class="column col-lg-4 col-md-4 col-sm-12">

													<h3>Services</h3>

													<ul>

														<li><a href="services.html">Services</a></li>

														<li><a href="services-single.html">Services Single</a></li>

														<li><a href="comming-soon.html">Coming Soon</a></li>

													</ul>

												</div>

												<div class="column col-lg-4 col-md-4 col-sm-12">

													<h3>Blog</h3>

													<ul>

														<li><a href="blog.html">Our Blog</a></li>

														<li><a href="blog-classic.html">Blog Classic</a></li>

														<li><a href="blog-detail.html">Blog Details</a></li>

														<li><a href="error-page.html">Error Page</a></li>

													</ul>

												</div>

												

											</div>

										</div>

									</li> -->

									<!-- <li class="dropdown"><a href="#">Blog</a>

										<ul>

											<li><a href="blog.html">Our Blog</a></li>

											<li><a href="blog-classic.html">Blog Classic</a></li>

											<li><a href="blog-detail.html">Blog Details</a></li>

											<li><a href="error-page.html">Error Page</a></li>

										</ul>

									</li> -->

									<!-- <li class="dropdown"><a href="#">Shop</a>

										<ul>

											<li><a href="shop.html">Shop</a></li>

											<li><a href="shop-single.html">Shop Details</a></li>

											<li><a href="shoping-cart.html">Cart Page</a></li>

											<li><a href="checkout.html">Checkout Page</a></li>

										</ul>

									</li> -->

									<li><a href="/career">Career</a></li>

								 </ul>

							</div>

						</nav>

						<!-- Main Menu End-->



						<!-- Options Box -->

						<div class="options-box clearfix">

							

							<!-- Search Box -->

							<!-- <div class="search-box-outer">

								<div class="search-box-btn"><span class="fa fa-search"></span></div>

							</div> -->

							

							<!-- Grid Box -->

							<div class="navSidebar-button">

								<!-- <a href="#" class="icon flaticon-menu"></a> -->

								<img src="./images/logo.png" class="img-responsive p-1" style="height:60px" alt="">

							</div>

							

						</div>

						<!-- Outer Button Box -->

						<div class="outer-button-box">

							<a href="/contact" class="theme-btn btn-style-one"><span class="txt">Contact Now</span></a>

						</div>

					</div>

					

                </div>

            </div>

        </div>

        <!--End Header Upper-->

        

		<!-- Mobile Menu  -->

        <div class="mobile-menu">

            <div class="menu-backdrop"></div>

            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->

            <nav class="menu-box">

            	<div class="nav-logo"><a href="/"><img src="images/logo.png" style="height: 70px;width: 130px; object-fit:contain" alt="" title=""></a></div>

                

                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>

            </nav>

        </div>

		<!-- End Mobile Menu -->

		

    </header>

    <!-- End Main Header -->
