 <div class="sidebar-side left-sidebar col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Categories Widget -->
						<div class="categories-widget">
							<div class="widget-content">
								<h3>OUR SERVICES</h3>
								<ul class="blog-cat">
									<li ><a href="/websitedevelopment">Website Development</a></li>
									<li ><a href="serviceapplication">Application Development</a></li>
									<li><a href="/servicesocial">Social Media Marketing</a></li>
									<li><a href="/serviceecom">E-Commerce</a></li>
									<li><a href="/servicelead">Final expense Leads Generation</a></li>
									<li><a href="/servicesolar">Solar Leads Generation/Live transfer</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Broucher Widget -->
{{!-- <div class="broucher-widget"> --}}
{{!-- <div class="widget-content" style="background-image:url(images/background/pattern-24.png)"> --}}
{{!-- <h3>Brouchers <span>Download</span></h3> --}}
{{!-- <div class="text">Provide Reference For <br> Customers Logistics Operations.</div> --}}
{{!-- <div class="files-outer"> --}}
{{!-- <a href="#"><img src="images/icons/doc-file.png" alt="" /></a> --}}
{{!-- <a href="#"><img src="images/icons/pdf-file.png" alt="" /></a> --}}
{{!-- </div> --}}
{{!-- </div> --}}
{{!-- </div> --}}
						
						<!-- Help Widget -->
						<div class="help-widget">
							<div class="widget-content" style="background-image:url(images/background/pattern-24.png)">
                                <h3><span class="text-white">Talk with us on call</span></h3>
                                <div class="text">Prefer speaking directly on call? Not to worry just reach us anytime for your queries</div>
								<a class="phone" href="tel:+13312622819"><span class="icon fa fa-phone"></span> +13312622819</a>
							</div>
						</div>
						
					</aside>
				</div>
