<!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg)">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>About Us</h2>
					<div class="text">Welcom To Award Winning Morancy</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>About Us</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Solution Section Two -->
    <section class="solution-section-two">
    	<div class="pattern-layer" style="background-image:url(images/background/pattern-18.png)"></div>
        <div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="images/background/bg-5.jpg" alt="" />
						</div>
						<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="images/resource/solution-2.jpg" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<h2>Greate DESIGN MoranCY AND <br> Development <span>SOLUTIONS</span></h2>
							<div class="text">There are many variations of passages of avaialable but the majority have in some form, by injected humou or words which don't look even slightly believable. There are many variations of but the majority have suffered.</div>
						</div>
						<ul class="column-list">
							<li>Self-contained, state-of-the-art time clock</li>
							<li>Scalability of up to 500 employees per time clock</li>
							<li>The ability to connect up to 32 time clocks</li>
							<li>Employee self-enrollment</li>
						</ul>
						<div class="question">
							Have Any Question?<br><a href="contact.html"><span class="flaticon-right-arrow-1"></span>Book an appointment</a>
						</div>
						<div class="author-box">
							<div class="box-inner">
								<div class="author-image">
									<img src="images/resource/author-3.jpg" alt="" />
								</div>
								<div class="signature"><img src="images/icons/signature.png" alt="" /></div>
							</div>
						</div>
						<!-- Satisfy Box -->
						<div class="satisfy-box">
							<div class="icon flaticon-satisfaction"></div>
							<h3>CLIENT % 100 <br> <span>SATISFy</span></h3>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Solution Section Two -->
	
	<!-- Quote Section -->
    <section class="quote-section">
        <div class="auto-container">
			<div class="row clearfix">
				
				<!-- Form Column -->
				<div class="form-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>Get a free <span>quote.</span></h2>
						
						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
								
								<div class="form-group">
									<input type="text" name="username" placeholder="Your Name" required="">
								</div>
								
								<div class="form-group">
									<input type="email" name="email" placeholder="Your Email" required="">
								</div>

								<div class="form-group">
									<input type="tel" name="phone" placeholder="Your Phone" required="">
								</div>
								
								<div class="form-group">
									<select class="custom-select-box">
										<option>Choose Your Services</option>
										<option>Service One</option>
										<option>Service Two</option>
										<option>Service Three</option>
										<option>Service Four</option
										<option>Service Five</option>
									</select>
								</div>
								
								<div class="form-group">
									<button class="theme-btn btn-style-five" type="submit" name="submit-form"><span class="txt">More Discover</span></button>
								</div>
								
							</form>
						</div>
						
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<h2>See Our feature <br> why you choose the <span>Moran</span></h2>
							<div class="text">We are committed to providing our customers with exceptional service while offering our employees the best training.</div>
						</div>
						<ul class="numbering-list">
							<li><span class="number">01</span><strong>PROFESSIONAL STAFF</strong>There are many variations of passages of majority have suffered.</li>
							<li><span class="number">02</span><strong>100% SATISFACTION</strong>There are many variations of passages of majority have suffered.</li>
							<li><span class="number">03</span><strong>QUALITY DESIGNING</strong>There are many variations of passages of majority have suffered.</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Quote Section -->
	
	<!-- CTA Section Three -->
	<section class="cta-section-three" style="background-image:url(images/background/2.jpg)">
		<div class="auto-container">
			<div class="title">CAPABILITIES</div>
			<h2>The full-service studio <br> with art and technologies.</h2>
			<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
			<div class="lower-blocks">
				<div class="clearfix">
				
					<!-- Info Block -->
					<div class="info-block">
						<div class="block-inner">
							<div class="icon flaticon-team"></div>
							<div class="numbers">500+</div>
							<h5>Regular <br> Customers</h5>
						</div>
					</div>
					
					<!-- Info Block -->
					<div class="info-block">
						<div class="block-inner">
							<div class="icon flaticon-briefing"></div>
							<div class="numbers">236+</div>
							<h5>Succeeded <br> Projects</h5>
						</div>
					</div>
					
					<!-- Info Block -->
					<div class="info-block">
						<div class="block-inner">
							<div class="icon flaticon-working-time"></div>
							<div class="numbers">9346+</div>
							<h5>Working Hours <br> Were Spent</h5>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section Three -->
	
	<!-- Clients Section / Style Two -->
    <section class="clients-section style-two">
        <div class="auto-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!-- End Clients Section / Style Two -->
	
	<!-- CTA Section Four -->
	<section class="cta-section-four">
		<div class="auto-container">
			<div class="pattern-layer" style="background-image:url(images/background/pattern-17.png)"></div>
			<div class="clearfix">
				<div class="pull-left">
					<h3>WE aRE READY TO BRING BIGGER & STRONGER PROJECTS</h3>
				</div>
				<div class="pull-right">
					<a href="about.html" class="theme-btn btn-style-two"><span class="txt">Contact Now</span></a>
				</div>
			</div>
		</div>
	</section>
