  <section class="page-title" style="background-image:url(images/background/5.jpg)">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Contact Us</h2>
					<div class="text">You have any help or start a new project contact us Now</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	
	
	<!-- Contact Form Section -->
    <section class="contact-form-section">
    	<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
                {{#if contacted}} 
                <h2 class="text-success">Your message has been recieved successfully</h1>
                {{/if}}
				<h2><span>Contact</span> us now</h2>
				<div class="text">Its good to create a communication link. Send us your message!</div>
			</div>
			<div class="inner-container">
				
				<!-- Contact Form -->
				<div class="contact-form">
                    <form method="POST" action="/contact">
						<div class="row clearfix">
						
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="name" value="" placeholder="Your Name" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="email" name="email" value="" placeholder="Your Email" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="subject" value="" placeholder="Subject" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="phone" value="" placeholder="Phone" required>
							</div>
							
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
								<textarea name="message" placeholder="Your Question"></textarea>
							</div>
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
								<button type="submit" class="theme-btn btn-style-three"><span class="txt">Contact us</span></button>
							</div>
							
						</div>
					</form>
				</div>
				<!-- End Contact Form -->

				<!-- Contact Info Section -->
				<section class="contact-info-section">
					<div class="auto-container">
						<div class="row clearfix">
							
							<!-- Info Column -->
							<div class="info-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<h2>Head Office</h2>
									<ul class="list-style-three">
										<li><span class="icon flaticon-maps-and-flags"></span>101 California Av 302 Santa Monica ca 90403</li>
										<li><span class="icon flaticon-call-2"></span><a href="tel:+13312622819">+1 (331) 262-2819</a></li>
										<li><span class="icon flaticon-email-2"></span><a href="mailto:contact@apricopt.com">contact@apricopt.com</a></li>
									</ul>
									<!-- Social Box -->
									<div class="social-box">
										<span>Contact on Social Media :</span>
										<a href="https://web.facebook.com/apricoptitsolutions" class="fa fa-facebook-f"></a>
										<a href="https://www.linkedin.com/company/apricopt-it-solutions/?viewAsMember=true" class="fa fa-linkedin"></a>
									</div>
								</div>
							</div>
							
							<!-- Info Column -->
							<div class="info-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<h2>Branch Office</h2>
									<ul class="list-style-three">
										<li><span class="icon flaticon-maps-and-flags"></span>Office 1, 1st floor plaza no 23 - phase 4 DHA Lahore , Pakistan</li>
										<li><span class="icon flaticon-call-2"></span><a href="tel:00923055530689">+923055530689</a></li>
										<li><span class="icon flaticon-email-2"></span><a href="mailto:needhelp@Moran.com">zayn@apricopt.com</a></li>
									</ul>
									<!-- Social Box -->
									<div class="social-box">
										<span>Contact on Social Media :</span>
										<a href="https://web.facebook.com/apricoptitsolutions" class="fa fa-facebook-f"></a>
										<a href="https://www.linkedin.com/company/apricopt-it-solutions/?viewAsMember=true" class="fa fa-linkedin"></a>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
				</section>
				<!-- End Contact Info Section -->
				
				<!-- Contact Map Section -->
				<!-- End Contact Map Section -->

			</div>
		</div>
	</section>
	<!-- End Faq's Form Section -->
	
	<!-- CTA Section Two -->
	<section class="cta-section-two style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Apricopt Team 24/7 Available Feel Free to Chat</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>
