{{!-- @section 1 --}}
{{!-- slider --}}
<section class="main-slider">

        <div class="main-slider-carousel owl-carousel owl-theme">

            

            <div class="slide" style="background-image:url(images/main-slider/image-1.jpg)">

				<div class="pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>

                <div class="auto-container">

					<!-- Content Box -->

					<div class="content-box">

						<div class="title">Welcome To Apricopt Tech</div>

						<h2>Providing reliable,<br> quality services</h2>

						<div class="link-box">

{{!-- <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Discover More</span></a> --}}

						</div>

					</div>

                </div>

            </div>

            

            <div class="slide" style="background-image:url(images/main-slider/web.jpg)">


				<div class="pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>

                <div class="auto-container">

					<!-- Content Box -->

					<div class="content-box">

						<div class="title">Welcome To Apricopt Tech</div>

						<h2>Strong web-based systems<br>To manage your business</h2>

						<div class="link-box">

{{!-- <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Discover More</span></a> --}}

						</div>

					</div>

                </div>

            </div>

			

			<div class="slide" style="background-image:url(images/main-slider/rocket.jpg)">

				<div class="pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>

                <div class="auto-container">

					<!-- Content Box -->

					<div class="content-box">

						<div class="title">Welcome To Apricopt Tech</div>

						<h2>Increase the engagement<br>With our social media<br>boosts</h2>

						<div class="link-box">

{{!-- <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Discover More</span></a> --}}

						</div>

					</div>

                </div>

            </div>

<!-- slide starts -->
			<div class="slide" style="background-image:url(images/main-slider/mobile.jpg)">

				<div class="pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>

                <div class="auto-container">

					<!-- Content Box -->

					<div class="content-box">

						<div class="title">Welcome To Apricopt Tech</div>

						<h2>Get the hybrid app<br>Android & Iphone<br>spinning right in your customer's devices</h2>

						<div class="link-box">

{{!-- <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Discover More</span></a> --}}

						</div>

					</div>

                </div>

            </div>
<!-- slide ends -->
			

        </div>

		<!-- Slider Social Nav -->

		<ul class="slider-social-nav">

			<li><a href="https://web.facebook.com/apricoptitsolutions">facebook</a></li>

			<li><a href="https://www.linkedin.com/company/apricopt-it-solutions/?viewAsMember=true">LinkedIn</a></li>


		</ul>

		<!-- Scroll Down Btn -->

        <div class="mouse-btn-down scroll-to-target" data-target=".solution-section"><span class="icon fa fa-anchor"></span></div>

		

    </section>


{{!-- @section2 --}}
 <section class="success-section">

        <div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<h2>Everything <br>you can imagine<span> is REAL</span></h2>

						<div class="bold-text">Apricopt providing reliable, quality services and ensuring lasting customer satisfaction.</div>

						<div class="text"> Provide high-quality, cost-effective and hands-on practical assistance to all of our clients on all software development requirements.</div>

						<div class="row clearfix">

							<!-- Column -->

							<div class="column col-lg-6 col-md-6 col-sm-12">

								<ul class="list">

									<li>Strong Web based systems</li>

									<li>Hybrid Apps to reduce cost</li>

								</ul>

							</div>

							<!-- Column -->

							<div class="column col-lg-6 col-md-6 col-sm-12">

								<ul class="list">

									<li>Digital Marketting</li>

									<li>Leads generation on its edge</li>

								</ul>

							</div>

						</div>

{{!-- <div class="btn-box"> --}}

{{!-- <a href="/about" class="theme-btn btn-style-three"><span class="txt">Read More</span></a> --}}

{{!-- </div> --}}

					</div>

				</div>

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<div class="pattern-layer" style="background-image:url(images/background/pattern-3.png)"></div>

						<div class="year-box">SINCE 2018</div>

						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

							<img src="images/mobile.svg" alt="" />

						</div>

						<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">

                            <img src="images/map.svg" style="height:200px; width:300px;" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>


{{!-- @section3 --}}
<section class="solution-section" id="service">

    	<div class="pattern-layer" style="background-image:url(images/background/pattern-1.png)"></div>

        <div class="auto-container">

			<!-- Sec Title -->

			<div class="sec-title light centered">

				<h2>We Make The Perfect <span>Solutions</span></h2>

				<div class="text">We are committed to providing our customers with exceptional service <br> while offering our employees the best training.</div>

			</div>

			<div class="four-item-carousel owl-carousel owl-theme">

				

				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-layout"></span>

						</div>

						<h3><a href="/websitedevelopment">WEBSITE DEVELOPMENT</a></h3>

						<div class="text">Getting your online presence is important these days. Get Modern web application spinning on the internet.</div>

						<span class="side-icon flaticon-layout"></span>

					</div>

					<a class="arrow" href="/websitedevelopment"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>

				

				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-graphic-design"></span>

						</div>

                        <h3><a href="/serviceapplication">Application Development</a></h3>

						<div class="text">Apricopt Tech is dedicated to delivering high-quality apps that are built to

							 scale from the ground up using current ..</div>

						<span class="side-icon flaticon-graphic-design"></span>

					</div>

					<a class="arrow" href="/serviceapplication"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>

				

				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-campaign"></span>

						</div>

						<h3><a href="/serviceecom">Ecommerce Store</a></h3>

						<div class="text" >Ecommerce store is the product where we rule the most.Set your market on the internet and join the market of future...</div>

						<span class="side-icon flaticon-campaign"></span>

					</div>

					<a class="arrow" href="/serviceecom"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>

				

				

				

				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-layout"></span>

						</div>

						<h3><a href="/servicesocial">Social media marketing</a></h3>

						<div class="text">Apricopt Tech can help you grow your business and build brand awareness, get followers 

							talking with promoted posts on Social...</div>

						<span class="side-icon flaticon-layout"></span>

					</div>

					<a class="arrow" href="/servicesocial"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>



				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-campaign"></span>

						</div>

						<h3><a href="/servicesolar">Solar Leads Generation/Live transfer</a></h3>

						<div class="text">Modernize transforms the solar installation experience for both homeowners and contractors. We generate .</div>

						<span class="side-icon flaticon-campaign"></span>

					</div>

					<a class="arrow" href="/servicesolar"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>

				

				<!-- Solution Block -->

				<div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-graphic-design"></span>

						</div>

						<h3><a href="/servicelead">Final expense Leads Generation</a></h3>

						<div class="text">If you’re an insurance company, IMO, or insurance agent, Need-A-Lead can provide you with a final ..</div>

						<span class="side-icon flaticon-graphic-design"></span>

					</div>

					<a class="arrow" href="/servicelead"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-seo"></span>

						</div>

						<h3><a href="services-single.html">SEO & CONTENT <br> WRITING</a></h3>

						<div class="text">We are committed to providing our customers with service while offering ...</div>

						<span class="side-icon flaticon-seo"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div>  -->

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-campaign"></span>

						</div>

						<h3><a href="services-single.html">DIGITAL <br> MARKETING</a></h3>

						<div class="text">We are committed to providing our customers with service while offering ...</div>

						<span class="side-icon flaticon-campaign"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div> -->

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-layout"></span>

						</div>

						<h3><a href="services-single.html">WEBSITE DEVELOPMENT</a></h3>

						<div class="text">We are committed to providing our customers with service while offering ...</div>

						<span class="side-icon flaticon-layout"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div> -->

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-graphic-design"></span>

						</div>

						<h3><a href="services-single.html">Final expense Leads Generation</a></h3>

						<div class="text">If you’re an insurance company, IMO, or insurance agent, Need-A-Lead can provide you with a final expense Appoinemnts /Live transfer to help..</div>

						<span class="side-icon flaticon-graphic-design"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div> -->

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-seo"></span>

						</div>

						<h3><a href="services-single.html">SEO & CONTENT <br> WRITING</a></h3>

						<div class="text">We are committed to providing our customers with service while offering ...</div>

						<span class="side-icon flaticon-seo"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div> -->

				

				<!-- Solution Block -->

				<!-- <div class="solution-block">

					<div class="inner-box">

						<div class="solution-pattern-layer" style="background-image:url(images/background/pattern-2.png)"></div>

						<div class="solution-pattern-layer-two" style="background-image:url(images/background/pattern-27.png)"></div>

						<div class="icon-box">

							<span class="icon flaticon-campaign"></span>

						</div>

						<h3><a href="services-single.html">DIGITAL <br> MARKETING</a></h3>

						<div class="text">We are committed to providing our customers with service while offering ...</div>

						<span class="side-icon flaticon-campaign"></span>

					</div>

					<a class="arrow" href="services-single.html"><span class="flaticon-angle-arrow-pointing-to-right"></span></a>

				</div> -->

				

			</div>

		</div>

	</section>


{{!-- @section 4 --}}
{{!-- <section class="projects-section"> --}}

{{!-- <div class="auto-container"> --}}



{{!-- <!-- Sec Title --> --}}

{{!-- <div class="sec-title centered"> --}}

{{!-- <h2>Our <span>Portfolio</span></h2> --}}

{{!-- </div> --}}



{{!-- <!--MixitUp Galery--> --}}

{{!-- <div class="mixitup-gallery"> --}}



{{!-- <!-- Filter --> --}}

{{!-- <div class="filters text-center clearfix"> --}}

{{!-- <ul class="filter-tabs filter-btns clearfix"> --}}

{{!-- <li class="active filter" data-role="button" data-filter="all">All</li> --}}

{{!-- <li class="filter" data-role="button" data-filter=".branding">BRANDING</li> --}}

{{!-- <li class="filter" data-role="button" data-filter=".photography">PHOTOGRAPHY</li> --}}

{{!-- <li class="filter" data-role="button" data-filter=".web-design">WEB DESIGN</li> --}}

{{!-- </ul> --}}

{{!-- </div> --}}



{{!-- <div class="filter-list row clearfix"> --}}



{{!-- <!-- Gallery Block --> --}}

{{!-- <div class="gallery-block mix web-design photography col-lg-4 col-md-6 col-sm-12"> --}}

{{!-- <div class="inner-box"> --}}

{{!-- <div class="image"> --}}

{{!-- <img src="images/gallery/1.jpg" alt="" /> --}}

{{!-- <div class="overlay-box"> --}}

{{!-- <div class="content"> --}}

{{!-- <h5><a href="projects-single.html">Wesite Creation</a></h5> --}}

{{!-- <div class="designation">New Solutions And Excellent</div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}



{{!-- <!-- Gallery Block --> --}}

{{!-- <div class="gallery-block mix photography illustration col-lg-4 col-md-6 col-sm-12"> --}}

{{!-- <div class="inner-box"> --}}

{{!-- <div class="image"> --}}

{{!-- <img src="images/gallery/2.jpg" alt="" /> --}}

{{!-- <div class="overlay-box"> --}}

{{!-- <div class="content"> --}}

{{!-- <h5><a href="projects-single.html">Wesite Creation</a></h5> --}}

{{!-- <div class="designation">New Solutions And Excellent</div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}



{{!-- <!-- Gallery Block --> --}}

{{!-- <div class="gallery-block mix web-design branding col-lg-4 col-md-6 col-sm-12"> --}}

{{!-- <div class="inner-box"> --}}

{{!-- <div class="image"> --}}

{{!-- <img src="images/gallery/3.jpg" alt="" /> --}}

{{!-- <div class="overlay-box"> --}}

{{!-- <div class="content"> --}}

{{!-- <h5><a href="projects-single.html">Wesite Creation</a></h5> --}}

{{!-- <div class="designation">New Solutions And Excellent</div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}

{{!-- </div> --}}


					<!-- Gallery Block -->

					<!-- <div class="gallery-block mix web-design branding col-lg-4 col-md-6 col-sm-12">

						<div class="inner-box">

							<div class="image">

								<img src="images/gallery/4.jpg" alt="" />

								<div class="overlay-box">

									<div class="content">

										<h5><a href="projects-single.html">Wesite Creation</a></h5>

										<div class="designation">New Solutions And Excellent</div>

									</div>

								</div>

							</div>

						</div>

					</div>

					 -->

					<!-- Gallery Block -->

					<!-- <div class="gallery-block mix photography branding illustration col-lg-8 col-md-12 col-sm-12">

						<div class="inner-box">

							<div class="image">

								<img src="images/gallery/5.jpg" alt="" />

								<div class="overlay-box">

									<div class="content">

										<h5><a href="projects-single.html">Wesite Creation</a></h5>

										<div class="designation">New Solutions And Excellent</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				 -->

{{!-- </div> --}}

{{!-- </div> --}}

			

{{!-- <div class="btn-box text-center"> --}}

{{!-- <a href="about.html" class="theme-btn btn-style-three"><span class="txt">More Discover</span></a> --}}

{{!-- </div> --}}

			

{{!-- </div> --}}

{{!-- </section> --}}


{{!-- @section 5 --}}

	<section class="cta-section" style="background-image:url(images/background/bg-3.jpg)">

		<div class="auto-container">

			<div class="icon flaticon-code"></div>

			<h2>In Apricopt we are always looking for creative individuals<br>We are because of great group of Individuals. <br> <span>Join Our Family to bring ideas to life</span></h2>

			<div class="btn-box text-center">

				<a href="/career" class="theme-btn btn-style-four"><span class="txt">Apply Now</span></a>

			</div>

		</div>

	</section>


{{!-- @section 6 --}}
	<section class="testimonial-section">

		<div class="pattern-layer" style="background-image:url(images/background/pattern-5.png)"></div>

		<div class="auto-container">

			<!-- Sec Title -->

			<div class="sec-title centered">

				<h2> <br> CUSTOMER <span>Response</span></h2>

			</div>

			<div class="testimonial-carousel owl-carousel owl-theme">

				

				<!-- Testimonial Block -->

				<div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-1.png" alt="" />

								</div>

								<h4>Bruno /</h4> <a href="https://toxicmodelmgmt.com">toxicmodelmgmt.com</a>

								

							</div>

						</div>

						<div class="text">“- Apricopt did great job with my model agency website. Team is highly supportive and work according to my directions and bussiness needs.

							I highly recommend them for bussiness website. I was thrilled by the quality of support. They work reliable has no complications.“</div>

					</div>

				</div>

				

				<!-- Testimonial Block -->

				<div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-2.png" alt="" />

								</div>

								<h4>Ali Aamir /</h4><a href="https://touchheightsconsult.com">touchheightsconsult.com</a>

							</div>

						</div>

						<div class="text">“Apricopt team cares about customer satisfaction , I am really satisfied with their team work for Touch heights. I highly recommend their services.“</div>

					</div>

				</div>

				

				<!-- Testimonial Block -->

				<div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-1.png" alt="" />

								</div>

								<h4>Leone / </h4><a href="https://Solarimprovements.net">Solarimprovements.net</a>

							

							</div>

						</div>

						<div class="text">“Execellent experience design solar website from Apricopt, Now they are doing great job on promotion of my website. 

							“</div>

					</div>

				</div>

				

				<!-- Testimonial Block -->

				<!-- <div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-2.png" alt="" />

								</div>

								<h4>Jackes Smith</h4>

								<div class="designation">Market Manager</div>

							</div>

						</div>

						<div class="text">“Website development begins with the fact that a specialist professionally studies your market, target audience and competitors. For each customer, we draw up detailed instructions“</div>

					</div>

				</div> -->

				

				<!-- Testimonial Block -->

				<!-- <div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-1.png" alt="" />

								</div>

								<h4>Angilina MArker</h4>

								<div class="designation">Business CEO</div>

							</div>

						</div>

						<div class="text">“Website development begins with the fact that a specialist professionally studies your market, target audience and competitors. For each customer, we draw up detailed instructions“</div>

					</div>

				</div> -->

				

				<!-- Testimonial Block -->

				<!-- <div class="testimonial-block">

					<div class="inner-box">

						<div class="author-box">

							<div class="rating">

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

								<span class="fa fa-star"></span>

							</div>

							<div class="box-inner">

								<div class="quote-icon flaticon-quote-1"></div>

								<div class="image">

									<img src="images/resource/author-2.png" alt="" />

								</div>

								<h4>Jackes Smith</h4>

								<div class="designation">Market Manager</div>

							</div>

						</div>

						<div class="text">“Website development begins with the fact that a specialist professionally studies your market, target audience and competitors. For each customer, we draw up detailed instructions“</div>

					</div>

				</div> -->

				

			</div>

			

		</div>

	</section>

{{!-- @section 6 --}}

   <section class="team-section">

    	<div class="pattern-layer" style="background-image:url(images/background/pattern-6.png)"></div>

		<div class="pattern-layer-two" style="background-image:url(images/background/pattern-7.png)"></div>

        <div class="auto-container">

			<!-- Sec Title -->

			<div class="sec-title light centered">

				<h2>We Make The Perfect <span>Solutions</span></h2>

				<div class="text">We are committed to providing our customers with exceptional service <br> while offering our employees the best training.</div>

			</div>

			<div class="four-item-carousel owl-carousel owl-theme">

				

				<!-- Team Block -->

				<div class="team-block">

					<div class="inner-box">

						<div class="image">

                        <img src="images/resource/team-1.jpeg" alt="" />

							<!-- Social Box -->

{{!-- <ul class="social-box"> --}}

{{!-- <li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li> --}}

{{!-- </ul> --}}

						</div>

						<div class="lower-content">

                            <h4>Sare</h4>

							<div class="designation">CEO</div>

						</div>

					</div>

				</div>

				
				<div class="team-block">

					<div class="inner-box">

						<div class="image">

							<img src="images/resource/team-2.jpeg" alt="" />

							<!-- Social Box -->

{{!-- <ul class="social-box"> --}}

{{!-- <li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li> --}}

{{!-- </ul> --}}

						</div>

						<div class="lower-content">

							<h4>Zayn Mohsin</h4>

							<div class="designation">Co-Founder</div>

						</div>

					</div>

				</div>


				<!-- Team Block -->

				<div class="team-block">

					<div class="inner-box">

						<div class="image">

							<img src="images/resource/team-3.jpeg" alt="" />

							<!-- Social Box -->

{{!-- <ul class="social-box"> --}}

{{!-- <li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li> --}}

{{!-- </ul> --}}

						</div>

						<div class="lower-content">

							<h4>Zohaib Ramzan</h4>

							<div class="designation">IT Executive</div>

						</div>

					</div>

				</div>

				

				<!-- Team Block -->

				<div class="team-block">

					<div class="inner-box">

						<div class="image">

							<a href="team.html"><img src="images/resource/team-4.jpeg" alt="" /></a>

							<!-- Social Box -->

{{!-- <ul class="social-box"> --}}

{{!-- <li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li> --}}

{{!-- </ul> --}}

						</div>

						<div class="lower-content">

							<h4>Saba Malik</h4>

							<div class="designation">Director of Business development</div>

						</div>

					</div>

				</div>

				

				<!-- Team Block -->

				<div class="team-block">

					<div class="inner-box">

						<div class="image">

							<img src="images/resource/team-6.jpg" alt="" />

							<!-- Social Box -->

{{!-- <ul class="social-box"> --}}

{{!-- <li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li> --}}

{{!-- <li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li> --}}

{{!-- </ul> --}}

						</div>

						<div class="lower-content">

							<h4>Sara Shaflon</h4>

							<div class="designation">Director of operations</div>

						</div>

					</div>

				</div>

				

				<!-- Team Block -->

				<!-- <div class="team-block">

					<div class="inner-box">

						<div class="image">

							<a href="team.html"><img src="images/resource/team-2.jpg" alt="" /></a>

							Social Box

							<ul class="social-box">

								<li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li>

								<li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li>

								<li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li>

								<li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li>

							</ul>

						</div>

						<div class="lower-content">

							<h4><a href="team.html">Mike Jessica</a></h4>

							<div class="designation">Digital Marketing</div>

						</div>

					</div>

				</div> -->

				

				<!-- Team Block -->

				<!-- <div class="team-block">

					<div class="inner-box">

						<div class="image">

							<a href="team.html"><img src="images/resource/team-3.jpg" alt="" /></a>

							Social Box

							<ul class="social-box">

								<li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li>

								<li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li>

								<li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li>

								<li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li>

							</ul>

						</div>

						<div class="lower-content">

							<h4><a href="team.html">Kevin Hardson</a></h4>

							<div class="designation">SEO Content Writer</div>

						</div>

					</div>

				</div>

				 -->

				<!-- Team Block -->

				<!-- <div class="team-block">

					<div class="inner-box">

						<div class="image">

							<a href="team.html"><img src="images/resource/team-4.jpg" alt="" /></a>

							Social Box

							<ul class="social-box">

								<li><a href="#" class="fa fa-facebook-f"><i class="name">Facebook</i></a></li>

								<li><a href="#" class="fa fa-twitter"><i class="name">twitter</i></a></li>

								<li><a href="#" class="fa fa-pinterest-p"><i class="name">pinterest</i></a></li>

								<li><a href="#" class="fa fa-dribbble"><i class="name">dribbble</i></a></li>

							</ul>

						</div>

						<div class="lower-content">

							<h4><a href="team.html">Rose Brown</a></h4>

							<div class="designation">Web Developer</div>

						</div>

					</div>

				</div> -->

				

			</div>

		</div>

	</section>
