 <section class="page-title" style="background-image:url(images/background/bg-6.jpg)">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Social media marketing</h2>
					<div class="text">Welcome To Apricopt Tech</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                {{> _servicesidebar}}

                 <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>Social media marketing </h2>
								<p>Apricopt Tech can help you grow your business and build brand awareness, get followers talking with promoted posts on Social Media platforms. 
                                    Social media marketing matters much more than you think. If you want to reach new customers and promote brand loyalty, connecting with digital communities is crucial. At Firetoss, we’re dedicated to generating buzz and engaging with your ideal audience, not just boosting your follower count. Whether you need a simple paid social media campaign or a fully-integrated strategy including paid ads and share-worthy posts, an experienced social media advertising agency has the skills and resources to help you shine.
                                    our team of social media specialists is full of social butterflies who love capturing online attention with relevant, meaningful campaigns.</p>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<h3>Social Media Services:</h3>
											<ul class="service-list">
												<li>Your online presence is really important we know this really well</li>
												<li>We bring out best strategies to promote your business on social media platform</li>
												<li>We have great team of social media marketing to increase engagement</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            </div>
            </div>


            <section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Chat with us to bring your ideas to life</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>
