 <section class="page-title" style="background-image:url(images/background/bg-3.jpg)">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>E- Commerce For Customer</h2>
					<div class="text">Welcome To Apricopt Tech</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                {{> _servicesidebar}}	
                 <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>E-commerce Website</h2>
								<p>eCommerce website serves as the foundation of your online retail business, and OuterBox understands the importance of utilizing 
                                    the latest technology to maximize the profitability of your online store. Our eCommerce solutions offer the best in standard 
                                    features and functionality while remaining agile and completely customizable. Our team can develop ground-up custom functionality,
                                     integrate with ERP systems, pull data 
                                    from multiple sources, and tailor a solution that matches your brand and eCommerce goals.
                                     There are no limits to what your eCommerce website can achieve.</p>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<h3>Ecommerce services include</h3>
											<ul class="service-list">
												<li>Your very own ecommerce store</li>
												<li>Secure integration with all payment gateways</li>
												<li>We will implement anti-hacking practices to make it as secure as possible</li>
												<li>You will able to sell more by amazing speed of the ecommerce store</li>
												<li>Free live chat integration for you.</li>
												<li>Earn what  you deserve to with ecommerce solutions with apricopt</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            </div>
            </div>
            <section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Chat with us to bring your ideas to life</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>
