    <!-- Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-5.jpg)">
		<!-- <div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div> -->
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Application Development </h2>
					<div class="text">Everyone owns a mobile device, you can a mobile app with us.</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                {{> _servicesidebar}}
 <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>Application Development</h2>
								<p>Apricopt Tech is dedicated to delivering high-quality apps that are built to scale from the ground up using current industry standards. experience in creating high performing, digitally transformative, and feature-packed native mobile applications for Android and iOS devices.
									Apricopt can also build cross-platform mobile applications that will work on any device or platform. Companies and organizations choosing Appnovation for their custom mobile application development needs can be assured that their final deliverable, no matter the technology it's
									 built on, will be secure, scalable, and sustainable in whatever environment it's hosted.</p>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<h3>Application services include:</h3>
											<ul class="service-list">
												<li>We build hybrid apps as well as fully native apps</li>
												<li>Web based backends are built connect users of your apps</li>
												<li>Free UI/UX design</li>
												<li>one month free maintainance with us</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>
            </div>
            </div>
            <section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Chat with us to bring your ideas to life</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>


