 <section class="page-title" style="background-image:url(images/background/bg-2.jpg)">
		<!-- <div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div> -->
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Solar Leads Generation/Live transfer</h2>
					<div class="text">Welcome To Apricopt Tech</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">

                {{> _servicesidebar}}
                 <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>Solar Leads Generation/Live transfer</h2>
								<p>Modernize transforms the solar installation experience for both homeowners and contractors. We generate solar install leads through our high traffic digital marketing channels and set real-time Appointments with Homeowners, Our homeowners are seeking to connect with qualified solar professionals for their solar installation projects in real-time.
                                    Apricopt Offer </p><ul class="service-list">
                                    <li>Real-time Solar Appointments with interested Homeowners having a credit score above 660 points/</li>
                                    <li> Live transfer close sales in real-time.</li>
                                    <li> All Data generate through social media campaign Exclusive 100%TCPA Complaint</li></ul>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            </div>
            </div>


            <section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Apricopt Team 24/7 available Feel Free to contact</h3>
					</div>
					<div class="pull-right">
						<a href="about.html" class="theme-btn btn-style-four"><span class="txt">Contact Now</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
