   <section class="page-title" style="background-image:url(images/background/bg-1.jpg)">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Website Development</h2>
					<div class="text">Welcome To Apricopt Tech</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                {{> _servicesidebar}}


                 <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>Website Designing</h2>
								<p>Apricopt Tech offers the best website development services can help your business stay one step ahead of the curve and ensure success in the online world. Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers help brands the ever-changing digital landscape.
                                    With our unparalleled web development services, we promise to deliver you a website of superior performance that suits your organization's specific needs. Whether you’re a large, medium, or small corporation, our web development services company is here to help you.
                                    our website design services can offer your visitors the best possible user experience. Whether you need a new unique web design or want a performance-optimized responsive web design, talk to us today. We are designers and builders with a passion for conversion.</p>
								<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<h3>Our Web Services:</h3>
											<ul class="service-list">
												<li>We use Headless CMS to have one backend to manage all the data</li>
                                                <li>We ensure secure APIs and database with best security practices</li>
												<li>We are great at managing the servers on platforms like amazon web services</li>
												<li>We built Progressive Web Apps , Server Side Websites.</li>
												<li>We mostly use the tools that are hot in the market. unless the customer demand us to use different one</li>
												<li>Yes We write clean and maintainable code for client side as well as backend </li>
												<li>We provide compelete documentation of your website so you can own it properly.</li>
												<li>When it comes to maintaining the website we don't keep charging for changes. We just believe that our customer is our biggest asset</li>
                                                <li>At the end you will get a great online presence with apricopt.</li>
											</ul>
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            </div>
            </div>


            <section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Chat with us to bring ideas to existence</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>
