  <section class="page-title" style="background-image:url(images/background/bg-4.jpg);">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-21.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/icons/pattern-1.png)"></div>
        <div class="auto-container">
			<div class="inner-container clearfix">
				<div class="pull-left">
					<h2>Final expense Leads Generation</h2>
					<div class="text">Welcome To Apricopt Tech</div>
				</div>
                <div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Service Detail</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">

                {{> _servicesidebar}}
                	<!-- Content Side -->
                <div class="content-side right-sidebar col-lg-8 col-md-12 col-sm-12">
                	<div class="service-detail">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h2>Final expense Leads Generation</h2>
								<p>If you’re an insurance company, IMO, or insurance agent, Need-A-Lead can provide you with a final expense Appoinemnts /Live
                                     transfer to help you close more final expense insurance sales. Read on to learn more about our proven,
                                      easy-to-navigate lead generation system then discover how Apricot Tech can help you take your business 
                                      to the next level. The key to maximizing your potential in the final expense market is having access to a steady flow of fresh leads.
                                    Apricopt Tech offer </p><ul class="service-list">
                                    <li> Real-time FE Appoinemnts and Live transfer operations close sales in real-time.</li>
                                    <li> Easy-to-use lead management and lead distribution system</li>
                                    <li> All FE leads Exclusive 100%TCPA Complaint </li>
                                    Our team is highly trained and only transfers the most interested and qualified
                                   <p>  leads to your agents. We often call and speak to leads 3-10 times before ever transferring 
                                     them to your agents, ensuring they are educated and ready to close.</ul></p>
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-6 col-md-6 col-sm-12">
										</div>
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="images/resource/service-2.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            </div>
            </div>


            	<!-- CTA Section Two -->
	<section class="cta-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url(images/background/pattern-9.png)"></div>
				<div class="clearfix">
					<div class="pull-left">
						<h3>Chat with us to bring you ideas to life</h3>
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	</section>
